.headerContainer{
    .logo {
        object-fit: contain;
    }
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/headerBanner.webp");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}