.articlesWrapper {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  gap: 1.125rem;

  .imageContainer {
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .contentsWrapper {
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      box-shadow: inset 150px 150px 500px 50px #333333,
        inset 0px 0px 100px -10px #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10% 5%;
      h2 {
        text-transform: uppercase;
        font-family: "Lexend Giga", serif;
        font-size: 1.5rem;
      }
      p {
        font-family: "Montserrat", serif;
        letter-spacing: 0.0625rem;
        word-spacing: 0.225rem;
        font-size: 1.125rem;
      }
    }
  }

  .contentsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;

    .contentWrapper {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      .imageWrapper {
        aspect-ratio: 16/9;
        position: relative;
        overflow: hidden;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
        img:hover {
          transform: scale(1.125);
        }
        img:hover ~ h2 {
          transform: scaleX(0.8);
        }
        h2 {
          position: absolute;
          margin: 0;
          bottom: 0;
          left: 0;
          text-align: center;
          text-transform: uppercase;
          font-family: "Lexend Giga", serif;
          align-items: center;
          background-color: #98ca33;
          color: white;
          font-size: 1rem;
          padding: 0 1rem;
          letter-spacing: 0.0625rem;
          width: 100%;
          transition: transform 0.5s ease;
        }
      }
      .description {
        font-family: "Montserrat", serif;
        letter-spacing: 0.0625rem;
        word-spacing: 0.03125rem;
        line-height: 1.75rem;
        font-size: 0.9rem;
        padding-right: 3.125rem;
        &::first-letter {
          font-size: 2.75rem;
        }
      }
    }
  }
}
