.articlesWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 1.125rem;

  .imageContainer {
    width: 40%;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .contentsWrapper {
      color: #fff;
      position: absolute;
      left: 0;
      bottom: 0;
      box-shadow: inset 150px 150px 500px 50px #333333,
        inset 0px 0px 100px -10px #333333;
      transition: box-shadow 0.5s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10% 5%;
      h2 {
        text-transform: uppercase;
        font-family: "Lexend Giga Variable", sans-serif;

        font-size: 1.5rem;
      }
      p {
        letter-spacing: 0.0625rem;
        word-spacing: 0.225rem;
        font-size: 1.125rem;
      }
    }
  }
  .imageContainer:hover {
    .contentsWrapper {
      box-shadow: inset 0px 0px 200px 32px #333333,
        inset 0px 0px 75px 32px #333333;
    }
  }

  .contentsContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    .contentWrapper {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      .imageWrapper {
        aspect-ratio: 16/9;
        position: relative;
        overflow: hidden;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.5s ease;
        }
        img:hover {
          transform: scale(1.125);
        }
        img:hover ~ h2 {
          transform: scaleX(0.8);
        }
      }
      h2 {
        text-transform: uppercase;
        color: #333333;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: 0.0625rem;
        width: 100%;
        transition: transform 0.5s ease;
      }
      .description {
        margin: 0;
        letter-spacing: 0.0625rem;
        word-spacing: 0.03125rem;
        line-height: 1.75rem;
        font-size: 0.9rem;
        padding-right: 3.125rem;
        &::first-letter {
          font-size: 2.75rem;
        }
      }
    }
  }
}

.container {
  margin-left: 4rem;
  margin-bottom: 2rem;
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem 0;
  }
}
