.container {
  margin: 2rem 4rem;
  .title {
    text-transform: uppercase;
    margin: 0 4rem;
    padding: 4rem 0;
    font-size: 2rem;
    &::first-letter {
      font-size: 3.25rem;
    }
  }
  .articlesContainer {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    .articleMainSection {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: fit-content;
      .wrapper {
        width: 25%;
        font-family: "Lexend Giga", serif;

        h2 {
          font-weight: 400;
          font-size: 1rem;
          letter-spacing: -0.0625rem;
          &::first-letter {
            font-size: 2rem;
            font-weight: bold;
          }
        }

        p {
          font-family: "Montserrat", serif;
          letter-spacing: 0.0625rem;
          word-spacing: 0.225rem;
          font-size: 0.825rem;
        }

        .imageWrapper {
          aspect-ratio: 10/12;
          img {
            border: 0.0125rem solid #333333;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .wrapper:last-child {
        width: 40%;
        .imageWrapper {
          height: calc(60vh + 11.74rem);
          width: 100%;
        }
        position: relative;
        top: -11.74rem;
      }
    }
    .articleSubSection {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: 100%;
      .subWrapper {
        .imageWrapper {
          width: 100%;
          max-height: 25vh;
          aspect-ratio: 5/2;
          img {
            border: 0.0125rem solid #333333;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .contents {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h2 {
            font-family: "Lexend Giga", serif;
            font-size: 1.25rem;
            font-weight: 400;
          }
          p {
            font-family: "Montserrat", serif;
            font-size: 0.825rem;
            max-width: 85%;
          }
        }
      }
    }
  }
}
