.contentWrapper {
  margin-top: 15vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .title {
    position: sticky;
    opacity: 0;
    top: 6.25rem;
    left: 0;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-family: "Lexend Giga Variable", sans-serif;

    font-size: 4rem;
    text-align: center;
    height: fit-content;
    transition: opacity 0.6s ease;
  }
}
