.boxOverlay {
  box-shadow: inset 0px 60px 100px -10px #000, inset 0px -260px 640px -10px #000;
  h2 {
    font-family: "Lexend Giga Variable", sans-serif;

    font-size: 4rem;
    mix-blend-mode: difference;
    text-transform: uppercase;
    font-weight: 400;
  }
  p {
    font-family: "Montserrat", serif;
    font-size: 1.25rem;
    &::first-letter {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}
